<!DOCTYPE html>
<!--
TBD's Adventures: Samantha Hua, Anjini Katari, and Emerson Gelobter
SoftDev
K19 - Sessions Greetings
2022-10-17
time spent: 1hrs

<ul>
      <li><a href={{url_for('user')}}> Profile</a></li>
      <li><a href={{url_for('home')}}> Home</a></li>
      <li><a href={{url_for('login')}}> Logout</a></li>
    </ul>
 -->

<html>

  <head>
    <title> HOME </title>
  </head>

  <body>
    

    <p>
      TBD's Adventures: Samantha Hua, Anjini Katari, and Emerson Gelobter
    </p>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>

    <h3>Your username is {{user}}</h3>
    <p> You submitted a {{type}} request</p>
    <p>{{msg}}</p>
    <br>
    <form action="/addBlog" method='post'> <!-- connects front end and back end -->
      <input type="text" name="newBlog">
      <input type="submit" name="sub1">
   </form>


    <form action="/logout" method="post">
      <button action="/logout" method="post" type="submit">logout</button>
    </form>

  </body>

</html>
