<!DOCTYPE html>
<!--
TBD's Adventures: Samantha Hua, Anjini Katari, and Emerson Gelobter
SoftDev
K19 -- Sessions Greetings
2022-10-17
time spent: 1hrs
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <p>
        TBD's Adventures: Samantha Hua, Anjini Katari, and Emerson Gelobter
    </p>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth" method='post'> <!-- connects front end and back end -->
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" name="sub1">
    </form>

    <p>{{msg}}</p>


    <br>
  </body>

</html>
