<!DOCTYPE html>
<!-- TBD's Adventures: Samantha Hua, Anjini Katari, and Emerson Gelobter
SoftDev
P00 -- Blogs | Move Slowly and Fix Things
2022-11-10
time spent: 1hrs
Target ship date: {2022-11-15} -->


<html>

  <head>
    <title> SIGN UP </title>
  </head>

  <body>
    <p>
        TBD's Adventures: Samantha Hua, Anjini Katari, and Emerson Gelobter
    </p>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>


    <h3>
      Sign up to join our blog website
    </h3>
    <form action="/newUser " method='post'> <!-- connects front end and back end -->
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" name="sub1">
    </form>

    <p>{{msg}}</p>


    <br>
  </body>

</html>
